.nav
	%ul
		%li.nav-brand
			= link_to "NoteyNote", root_path

.note-main
	%h1= @note.title
	%p= simple_format(@note.content)
	%br/
	%hr/
	.nav-edit
		%ul
			%li.nav-note-link
				= link_to "Back", notes_path
			%li.nav-note-link
				= link_to "Edit", edit_note_path(@note)
			%li.nav-note-link
				= link_to "Delete", note_path(@note), method: :delete
